<div class="row">
  <div class="col-md-10 mx-auto">
    <h2 class="text-center"> User Details</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Created at</th>
        <th>Delete</th>
        <th>Modify</th>
      </tr>
    </thead>
      <tbody>
      <tr>
        <td class="hidden"><input disabled [(ngModel)]="user.id"/></td>
        <td><input [(ngModel)]="user.firstName"/></td>
        <td ><input [(ngModel)]="user.lastName"/></td>
        <td><input [(ngModel)]="user.email"/></td>
        <td><input [(ngModel)]="user.createdAt"/></td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
        <td><button class="btn btn-danger" (click)="updateUser(user)"> Update User</button></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-info" (click)="goBack()"> Back</button>
  </div>
</div>
<br/><br/>
    
